body{
    background-color: aquamarine;
}
hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border-width: 15px;
    border-style: none;
    border-top-style: dotted;
    width: 30%;
    border-color: green;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
}
ol, ul,img ,p{
    display: block;
    max-width: 500px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}
#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 166, 0);
    position: sticky;
    top: 0;
}
#navbar ul li{
    float: left;
}
#navbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#navbar ul li:last-child{
    float: right;
}
#navbar ul li:hover{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;
}
table, tr, td{
    border: 1px solid black;
}
table{
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}
th{
    background-color: #333;
    color: white;
}
th,td{
    padding: 15px;
    text-align: left;
}
tr:hover{
    background-color: #f5f5f5;
}
.footer{
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.form-register{
    position: static;
    margin-bottom: 100px;
}
.content-form{
    max-width: 70%;
    margin: auto;
}
.ss{
    margin-bottom: 30px;
}
.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 100px;
}
.form-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100%;
}
.my-portofolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
@media (max-width: 850px){
    .my-portofolio{
        width: 50%;
    }
}
@media (max-width: 500px){
    .my-portofolio{
        width: 100%;
    }
}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=submit] {
    background-color: tomato;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
button{
    background-color: tomato;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}